<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div class="login-container">
        <div class="login-card">
            <h1>Login</h1>
            <form method="POST" action="/user/login">
                <input type="text" name="email" placeholder="Enter Email" required>
                <input type="password" name="password" placeholder="Enter Password" required>
                <p class="signup-redirect">
                    Don't Have Account? <a href="/signup">Sign-Up</a>
                </p>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
